.icon-container {
    float: left;
    width: 45px;
    height: 45px;
    position: relative;
  }
  
.avatar_main {
height: 100%;
width: 100%;
border-radius: 50%;
}

.status-circle {
width: 12px;
height: 12px;
border-radius: 50%;
border: 2px solid white;
bottom: 0;
right: 0;
position: absolute;
}